﻿<%@ Master Language="C#" AutoEventWireup="true" Inherits="MasterPage" CodeBehind="MasterPage.master.cs"  %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Sistema de Controle de Bem Patrimonial</title>
    <link rel="Stylesheet" href="~/App_Themes/DefaultTheme/estilo.css" type="text/css" />
    <link rel="Stylesheet" href="~/App_Themes/DefaultTheme/style.css" type="text/css" />
    <link href="~/App_Themes/DefaultTheme/controles.css" rel="stylesheet" type="text/css" />
    <style type="text/css"> 
        .displayNone
        {
            display: none;
        }     
    </style>
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
 </head>
<body>
<form id="form1" runat="server">  
    <div id="total">
      <aspAjax:ToolkitScriptManager ID="ToolkitScriptManager1" runat="server">
      <Scripts>
      <asp:ScriptReference Path="~/Scripts/mascara.js" />
      </Scripts>
    </aspAjax:ToolkitScriptManager>
        <div id="header">
            <asp:Image ID="Image1" runat="server" ImageUrl="~/media/images/sgp_topo.png" />
        </div>
        <div id="stylefour">
            <ul>
                <li><a href="<%=ResolveUrl("~") %>administrador/acessos/EditarPermissao.aspx" title="">
                    <span>
                        <asp:Image ID="Image2" runat="server" ImageUrl="~/media/images/menu01.png" AlternateText="Gerenciador de Acesso" />
                    </span></a></li>
                <li><a href="<%=ResolveUrl("~") %>administrador/parametros/Default.aspx" title="Gerenciador de Parâmetros">
                    <span>
                        <asp:Image ID="Image3" runat="server" ImageUrl="~/media/images/menu02.png" AlternateText="Gerenciador de Parâmetros" />
                    </span></a></li>
                <li><a href="<%=ResolveUrl("~") %>administrador/patrimonio/PatrimonioFRM.aspx" title="Gerenciador Patrimônio">
                    <span>
                        <asp:Image ID="Image4" runat="server" ImageUrl="~/media/images/menu03.png" AlternateText="Gerenciador Patrimônio" />
                    </span></a></li>
                <li><a href="<%=ResolveUrl("~") %>administrador/movimentar/Default.aspx" title="Gerenciador Movimentação">
                    <span>
                        <asp:Image ID="Image5" runat="server" ImageUrl="~/media/images/menu04.png" AlternateText="Gerenciar Movimentação" />
                    </span></a></li>
                <li><a href="<%=ResolveUrl("~") %>administrador/movimentar/BensDisponiveisFRM.aspx"
                    title="Gerenciar Bens Disponíveis"><span>
                        <asp:Image ID="Image6" runat="server" ImageUrl="~/media/images/menu05.png" AlternateText="Bens Disponíveis" />
                    </span></a></li>
                <li><a href="<%=ResolveUrl("~") %>administrador/patrimonio/RelatorioBensFRM.aspx"
                    title="Relatório de Bens"><span>
                        <asp:Image ID="Image7" runat="server" 
                        ImageUrl="~/media/images/relatorioBens.png" AlternateText="Relatório de Bens" />
                    </span></a></li>
               <li><a href="<%=ResolveUrl("~") %>administrador/patrimonio/BaixaFRM.aspx"
                    title="Relatório de Bens"><span>
                        <asp:Image ID="Image8" runat="server" 
                        ImageUrl="~/media/images/menuBaixa.png" AlternateText="Visualizar Baixa" />
                    </span></a></li> 
                <li>
                    <asp:LinkButton ID="lbtSair" runat="server" OnClick="lbtSair_Click">
                        Sair
                    </asp:LinkButton>
                </li>
               
	            <li>
                <br />
                    <asp:LinkButton ID="lbtnRedefinirSenha" runat="server" 
                        OnClick="lbtnRedefinirSenha_Click">Alterar Senha</asp:LinkButton>
                </li>
	             <!--<li><a href="#" title=""><span>Contact Us</span></a></li -->
            </ul>
 <asp:Label ID="logadoComo" runat="server" Text="Usuário: " /> 
            <asp:Label ID="usuarioLogado" runat="server" />       
</div>
        
        <div id="floatBox">
            <div id="contentBox">
                <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
                </asp:ContentPlaceHolder>
            </div>
        </div>
        
    </div>
    <div class="foot">
        <p>
            Copyright © 2009 - STI. Secretaria de Tecnologia da Informação - UFMT<br />
            Avenida Fernando Corrêa, Nº 2367 - Boa Esperança, Cuiabá-MT 78060-900
            <br />
            Fone/PABX: +55 (65) 3615-8000 / FAX: +55 (65) 3628-1219</p>
    </div>
    </form>
</body>
</html>
