body {
margin:0;
background:#F0F8FF;
}

#geral {
margin:auto;
width:900px;


}

#total {
margin:0 auto;



}

#corpoConteudo {
margin-top:5px;
border:0.7mm solid #003366;
background-color:#FFF;
float:left;
}

#topo {
	position:relative;
	width:900px;
	height:89px;
	background-image:url(../images/topo.png);

		}
			
#ladoesquerdo  { 

margin-top:8px;
float:left;
position:relative;
font-family:Verdana, Geneva, sans-serif;
font-size:16px;

background:#A4D1FF;
margin-left:5px;
}

#ladoesquerdo  ul{ 

list-style:none;
width:190px;
float:left;
}
#ladoesquerdo li{


}

#ladoesquerdo a {
color:#FFF;	
display:block;
text-decoration:none;
}

#ladoesquerdo a:hover {
color:#000;	
background-color:#CCC;

}

ul {padding:0;
}
			
#meio { 
width:677px;
margin-left:10px;
float:left;
margin-top:8px;
padding:5px;
border-left: 2px solid #069;
font-family:Verdana, Geneva, sans-serif;
color:#666;
font-size:12px;
min-height:400px;
}

#meio li {
list-style:none;
list-style-type:none;	
margin-bottom:10px;
}

#meio input{ 
width:200px;
margin-left:5px;
font-family:Verdana, Geneva, sans-serif;
color:#666;
font-size:12px;
}
#meio textarea {
height:60px;
width:200px;
}
#meio select {
width:100px;	
}

				
h1 {
font-family:Verdana, Geneva, sans-serif;
font-size:30px;


color:#FFF;
text-align:center;
padding-top:12px;
	}
h2 {
font-family:Verdana, Geneva, sans-serif;
font-size:16px;
font-style:normal;
color:#666;
padding-left:10px;
border-bottom:1px solid #003399;
	}
	
#login {
	width:896px;	
}

#loginBox {
	margin:0 auto;
	width:300px;
	margin-top:20px;
	margin-bottom:20px;
}