﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPage.Master" AutoEventWireup="true" CodeBehind="FrmManutencao.aspx.cs" Inherits="ufmt.ssbic.View.inscricao.monitoria.FrmManutencao" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
    <style type="text/css">
        .titulo2
        {
            text-align: center;
            font-weight: 700;
            font-size: xx-large;
            font-family: Arial;
        }
    </style>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
<div class="titulo2">
        <br />
        <br />
        <br />
        <asp:Label ID="Label3" runat="server" Text="Período de inscrições:" 
            style="text-align: center"></asp:Label>
    </div>
    <br />
    <div class="titulo2">
        <asp:Label ID="Label4" runat="server" Text="08h:00 de 09/03/2012"></asp:Label>

    </div>
    <br />
    <div class="titulo2">
        <asp:Label ID="Label6" runat="server" Text="até"></asp:Label>
    </div>
    <br />
    <div class="titulo2">
        <asp:Label ID="Label5" runat="server" Text="23h:59 de 15/03/2012"></asp:Label>
        <br />
        <br />
        <br />
    </div>
</asp:Content>
