﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="testecontrole.aspx.cs" Inherits="ufmt.ssbic.View.controles.testecontrole" %>

<%@ Register src="UCBuscarCursos.ascx" tagname="UCBuscarCursos" tagprefix="uc2" %>

<%@ Register src="UCVagasCurso.ascx" tagname="UCVagasCurso" tagprefix="uc1" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    
        <uc1:UCVagasCurso ID="UCVagasCurso1" runat="server" />
    </div>

    </form>
</body>
</html>
