﻿body 
{
    margin: 0;
    color: #666666;
    font-size: 12px;
    font-family: Arial;
}

a 
{
    color:#666666;
    border:0;
    text-decoration:underline;
}

a:hover 
{
    color:#1D1D1D;
    text-decoration:none;
}

a img{ border:0;}
#total 
{
    background: white;
    width: 945px;
    margin: 0 auto;
}


#header 
{

}

#menu 
{
}

#contentBox
{
    padding-left:20px;
    padding-bottom:40px;    
    padding-top:30px;
    
}

#floatBox 
{
    
}

#box 
{
    padding-left:20px;
    
    width:759px;
}

#titulo 
{
    margin-left:20px;
    margin-right:20px;
    padding-top:20px;
    padding-bottom:4px;
    border-bottom:1px solid #666666;
    font-size:14px;
    font-weight:bold;    
    font-family:Arial;
}

#busca 
{
    float:right;
    margin-right:20px;
    margin-top:5px;
    margin-bottom:10px;
    
    text-align:right;
    
}

#submenu 
{
    margin-left:20px;
    margin-top:5px;
    margin-bottom:10px;
    float:left;
    width:720px;
    
}

#barranav 
{
    float:left;    
    width:759px;   
}

.Largura150 {
    width: 150px;
    text-align: right;
}
.Largura100Porcento {
    width: 100%;
}

.containerFormulario {

    padding-top:10px;
    padding-bottom:10px;
    background-color:#f7f7f7;
    border:1px solid #cccccc

}

.processing  {
    background-color:white;
    
    color:#999999;
    font-size:14px;
    height:50px;
    left:50%;
    margin-left:-125px;
    margin-top:-15px;
    padding:14px 0 2px;
    position:absolute;
    text-align:center;
    top:50%;
    width:250px;
}

.foot{
    background-image: url('../../media/images/foot.png');
    height: 140px;
}

.foot p{ padding-top:65px; font-size:12px; text-align:center; color:#FFF;}

.letreiroTela
    {
        text-align:center;
    }
.funcionalidades
    {
        float:left;
        width:15%;
        text-align:center;
    }

.buscaElementos
    {
        float:left;
        width:71%;
        text-align:center;
    }
    
.listagemGeral
    {
        float:left;
        width:13%;
        text-align:center;
        height:35px;
    }

.listagemGridView
    {
        width:98%;
        clear:both;
    }

.intro{ width:280px; float:left; margin:5px 100px 10px 25px;}

.intro h3{ text-align:center; margin:15px 0;}

.intro .textintro{ font-size:12px; line-height:150%;}

.tela_login{ width:705px; background-image:url(../../media/images/tela_login.png); margin:0 auto; height:265px;}

.login_box{ float:left; margin-top:43px; width:283px; height:160px;}

#login form p{margin-bottom:0}

.login,.senha{-moz-background-clip:border;-moz-background-inline-policy:continuous;-moz-background-origin:padding;background:#FBFBFB none repeat scroll 0 0;border:1px solid #999;font-size:20px;margin-bottom:6px;margin-right:6px;margin-top:2px;width:250px;padding:3px}

.logadoComo {
margin-top:5px;
margin-left:5px;
float:left;
}

.minibutton {
    background: url("../../media/images/minibutton_matrix.png") no-repeat scroll 0 0 transparent;
    border: medium none;
    color: #333333 !important;
    cursor: pointer;
    display: inline-block;
    font-size: 11px;
    font-weight: bold;
    height: 23px;
    margin-bottom: 5px;
    overflow: visible;
    padding: 0 0 0 3px;
    text-decoration: none !important;
    text-shadow: 1px 1px 0 #FFFFFF;
    white-space: nowrap;
}
.minibutton > span {
    background: url("../../media/images/minibutton_matrix.png") no-repeat scroll 100% 0 transparent;
    display: block;
    height: 23px;
    line-height: 23px;
    padding: 1px 10px 0 8px;
}
.minibutton:hover {
    background-position: 0 -30px;
    color: #FFFFFF !important;
    text-decoration: none;
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
}
.minibutton:hover > span {
    background-position: 100% -30px;
}

h1 {
border-bottom: 2px solid #666;
}

.imgBtBuscar {
}

.saveButton:hover {
background-image:url("../../media/images/savebutton_hover.png");
}

fieldset {
border:1px solid #B6CFF1;
}

.pnlAviso {
background-color:#CEE3F6;
border:1px solid #084B8A;
color:#0B243B;
font-size:12px;
font-weight:bold;
text-align:center;
padding:10px;
margin:20px;
}

.modalBackground {
    background-color:Gray;
    filter:alpha(opacity=70);
    opacity:0.7;
} 

.modalPopup {
	 background-color:#ffffff;
	 border-width:1px;
	 border-style:solid;
	 border-color:#000000;
	 width:800px;
	 font: 12px Helvetica;
	 font-weight:normal;
	 height:500px;
}
.ArialTamanho22 
{
    font-family: Arial Narrow; font-size:22px;font-weight:bold;    
    
}