﻿div.rounded {
    clear:both;
    max-width:2400px;
}

div.rounded div.top-outer {
    background:url(images/grid/tl.gif) no-repeat left bottom;
    padding:0px;
    width:100%;
}

div.rounded div.top-outer div.top-inner {
    background:url(images/grid/tr.gif) no-repeat right bottom;
    margin-left:9px;
}

div.rounded div.top-outer div.top-inner div.top {
    background:url(images/grid/tm.gif) repeat;
    height:23px;
    margin-right:9px;
    font-size:.01em;
}

div.rounded div.mid-outer {
    background:url(images/grid/l.gif) left repeat-y;
    clear:both;
    width:100%;
}

div.rounded div.mid-outer div.mid-inner {
    background:url(images/grid/r.gif) right repeat-y;
    margin-left:9px;    
}

div.rounded div.mid-outer div.mid-inner div.mid {
	background-color:#ffffff;
    margin-right:9px;
}

div.rounded div.bottom-outer {
    background:url(images/grid/bl.gif) no-repeat left top;
    clear:both;
    padding:0px;
    width:100%;
}

div.rounded div.bottom-outer div.bottom-inner {
    background:url(images/grid/br.gif) no-repeat right top;
    margin-left:8px;
}

div.rounded div.bottom-outer div.bottom-inner div.bottom {
    background:url(images/grid/bm.gif) repeat;
    height:9px;
    margin-right:8px;
    font-size:.01em;
}