﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPage.Master" AutoEventWireup="true" CodeBehind="FrmBolsista.aspx.cs" Inherits="ufmt.ssbic.View.webapp.bolsista.FrmBolsista" %>
<%@ Register src="UCDadosAluno.ascx" tagname="UCDadosAluno" tagprefix="uc1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
<div id="header">
                <asp:Image ID="Image1" runat="server" ImageUrl="~/media/images/ssbic_topo.png" />
            </div>
    <asp:Panel ID="pnlUcDadosAluno" runat="server">
    
    <h2>Verifique seus dados e atualize, caso necessário</h2>
        <uc1:UCDadosAluno ID="UCDadosAluno1" runat="server" />

    </asp:Panel>
</asp:Content>
