﻿<%@ Page Title="" Language="C#" MasterPageFile="~/webapp/MasterPage.Master" AutoEventWireup="true" CodeBehind="FrmEditarVoluntario.aspx.cs" Inherits="ufmt.ssbic.View.webapp.bolsista.FrmEditarVoluntario" %>
<%@ Register src="../../controles/UCDadosMonitorVoluntario.ascx" tagname="UCDadosMonitorVoluntario" tagprefix="uc2" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
<h1>Editar Voluntário</h1>
<asp:Panel ID="pnlUC" runat="server">
    <uc2:UCDadosMonitorVoluntario ID="UCDadosMonitorVoluntario1" runat="server" />


</asp:Panel>
</asp:Content>

