﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Default.Master" AutoEventWireup="true" CodeBehind="ProjetosUnidadeEspecifica.aspx.cs" Inherits="ufmt.ssbic.View.relatorios.ProjetosUnidadeEspecifica" %>
<%@ Register src="../ArvoreUnidades.ascx" tagname="ArvoreUnidades" tagprefix="uc1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
<h1>Projetos por Unidade Específica</h1>
    <uc1:ArvoreUnidades ID="ArvoreUnidades1" runat="server" />
    
    <asp:Button ID="btGerar" runat="server" Text="Gerar Relatório" onclick="btGerar_Click" />    
</asp:Content>
